* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10%;
}

.nav {
    padding: 3%;
}

body .boite-accueil {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 25px;
    padding: 25px;
}

.nav .btn {
    position: absolute;
    background: transparent;
    border-radius: 20px;
    top: 4%;
    right: 4%;
    padding: 1%;
}