@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

span {
    display: block;
    box-sizing: border-box;
}

label {
    box-sizing: border-box;
    display: inline;
    text-align: right;
}